.container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .row {

        .wrapper {
            height: 60h;

            .more {
                display: flex;
                align-items: center;
                gap: 1rem;
                transition: all ease .3s;
                color: black;
                cursor: pointer;                

                &:hover {
                    color: #FB8500!important;
                    text-decoration: underline;
                }
            }

            div {
                text-align: left;

                h3 {
                    font-weight: 600;
                }

                p {
                    color: rgb(58, 58, 58);
                }

                .links {
                    margin-top: 1rem;
                    padding: 0 5rem;


                  div {
                    outline: 1px solid black;
                    height: 35px;
                    width: 35px;
                    border-radius: 100%;
                    margin: 0 auto;
                    transition: all ease .3s;
                    cursor: pointer;


                    &:hover {
                        outline: none;
                        color: white;
                        background-color: #FB8500;
                        box-shadow: 0, 0, 0, .2;
                    }

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                  }
                }

            }     
          
        }

    }
}


@media screen and (min-width: 768px) {
    .container {
    
    
        .row {
    
            .wrapper {
                height: 60vh;
    
                div {
                    align-items: center;
                    display: flex;   
                    text-align: left; 
                    justify-content: center;  
                   
                    
    
                    .links {
                       display: grid;
                       flex-direction: column;
                       grid-template-columns: 1fr;
                       
    
    
                      div {
                        margin: .3rem 0;
    
                        svg {
                            width: 100%;
                            height: 100%;
                        }
                      }
                    }
    
                }     
              
            }
    
        }
    }
}


