.container {
    height: auto;
    
    .row {
        padding-bottom: 1rem;
        justify-content: flex-end;


        .col-md-5 {
            h3 {
                font-weight: 600;
            }

            ul {
                li {
                    list-style: none;
                    margin-top: .3rem;
                }
            }

            div {
                ul {
                    li {
                        list-style: none!important;
                    }
                }
            }
        }
        
        .col-md-7 {
            
            .row {
                .col-md-5 {
                    padding: .2rem;
                    
                    svg {
                        width: 40px;
                        height: 40px;
                    }
                    
                    div {
                        padding: .4rem;                       
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 680px) {
    .container {
        .row {
            .col-md-7 {

                .row {
                    padding: 1rem;
                }
            }
        }
    }
}