<div class="container team" id="team">
    <div class="row">
        <div class="col-md-5">
            <h3>What we do</h3>        
            <p>We give you the single digital payment solution that you will ever need. Helapay gives you the power to accept payments online
                , instore and through mobile applications wherever you are, however you want. With integrations with the leading mobile money providers
                in the region and the leading banks, start accepting card, mobile money, and direct bank transfers.
            </p>
            <p>HelaPay enables you to also pay your suppliers and have an approval process for all the disbursements done. From one single dashboard, you will be 
                able to manage and monitor inflow and outflow of cash in your business.
            </p>
        </div>
        <div class="col-md-7">
            <div class="container">
                <div class="row shadow">
                    <div class="col-md-5">
                        <img src="https://images.pexels.com/photos/1498335/pexels-photo-1498335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="/" class="img-fluid">
                    </div>
                    <div class="col-md-7 p-2">
                        <h4>Brian Kaluma</h4>
                        <p>Sr Engineer</p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptatem pariatur at.</small>
                    </div>
                </div>
                <div class="row shadow mt-4">
                    <div class="col-md-7 p-2">
                        <h4>Melissa Kina</h4>
                        <p>Sr DevOPS</p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptatem pariatur at.</small>
                    </div>
                    <div class="col-md-5">
                        <img src="https://images.pexels.com/photos/6497114/pexels-photo-6497114.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="/" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
