.team {
    margin-top: 2rem;
    height: auto;

    .row {
        .col-md-5 {
            h3 {
                font-weight: 600;
            }
        }


        .col-md-12 {
            .col-md-5 {
                h3 {
                    font-weight: 600;
                    text-transform: capitalize;
                }

                p {
                    color: rgb(71, 71, 71);
                }

            }

            .col-md-7 {
                padding-bottom: 2rem;

                h4 {
                    font-weight: 600;
                }

                .container {
                    .row {
                        margin: 4rem 0;

                        .col-md-7 {
                            padding: 1rem;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .team {
        height: auto;
        padding-bottom: 2rem;
    }
 }