<div class="container team" id="team">
    <div class="row">
        <div class="col-md-5">
            <h3>meet our team</h3>
            <p>Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Ea rerum ipsa suscipit qui 
                    tempora reiciendis iure! Illo, nisi obcaecati.
                    Cum, aliquid ea.
            </p>
            <small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, sequi hic alias nulla ipsam nisi deleniti, ipsa fuga 
                optio aspernatur harum suscipit voluptas? Numquam aperiam libero tempora?</small>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel molestias eveniet quas voluptas omnis nostrum?</small>
        </div>
        <div class="col-md-7">
            <div class="container">
                <div class="row shadow">
                    <div class="col-md-5">
                        <img src="https://images.pexels.com/photos/1498335/pexels-photo-1498335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="/" class="img-fluid">
                    </div>
                    <div class="col-md-7 p-2">
                        <h4>Brian Kaluma</h4>
                        <p>Sr Engineer</p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptatem pariatur at.</small>
                    </div>
                </div>
                <div class="row shadow mt-4">
                    <div class="col-md-7 p-2">
                        <h4>Melissa Kina</h4>
                        <p>Sr DevOPS</p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptatem pariatur at.</small>
                    </div>
                    <div class="col-md-5">
                        <img src="https://images.pexels.com/photos/6497114/pexels-photo-6497114.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="/" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
