<div class="container team">
    <div class="row">
        <div class="col-md-5">
            <h2>here</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sapiente itaque soluta quaerat natus dignissimos! Tenetur facilis aspernatur et aperiam!</p>
        </div>
        <div class="col-md-7">
            <h2>right</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus mollitia modi maiores nesciunt, quae deleniti quisquam, placeat, sit nisi architecto fuga soluta et?</p>
        </div>
    </div>
</div>
