.container {
    padding-top: 2rem!important;

    .row {
        p {
            color: grey;
        }
        h2 {
            font-weight: 600;

            span {
                color: #219ebc;
            }
        }

        .active {
            color: whitesmoke!important;
        }


        button {
            margin: 0 auto!important;
        }
    }

  
}

@media screen and (min-width: 768px) {
    .container {
        height: 60vh;

        .row {

            div {
                display: flex;             
                flex-direction: column;
                text-align: start!important;
                height: 100%;
            }
        }
    }
}