<div class="container pt-4">
    <div class="row">
        <div class="col-md-5 img">
           <img src="../../assets/undraw.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 text-center position-relative">
            <h2 class=" mt-4">Explore what we have to offer your business with <span>helapay</span></h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis veritatis doloribus quaerat.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, fugit.</p>
            <button class="btn my-4 btn-success">
                view more
            </button>
        </div>
        <div class="col-md-1">
            <div class="col">
                
            </div>
        </div>
    </div>
</div>
