<div class="container pt-4">
    <div class="row">
        <div class="col-md-6 img">
           <img src="../../assets/undraw.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 text position-relative">
            <h2 class="text-center mt-4">Explore what we have to offer your business with <span>helapay</span></h2>
            <button class="btn my-4 position-absolute start-50 translate-middle-x btn-success">
                view more
            </button>
        </div>
    </div>
</div>
