<div id="home" class="container pt-4">
    <div class="row">
        <div class="col-md-6 img">
           <img src="../../assets/undraw.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 text-center position-relative">
            <h2 class=" mt-4">Explore what we have to offer your business with <span>helapay</span></h2>
            <p>Safe | Fast | Secure</p>
            <button class="btn my-4 btn-success">
                <a href="#services"> view more</a>               
            </button>
        </div>     
    </div>
</div>
